.button {
  cursor: pointer;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #273043;
  color: #273043;
  font-size: 16px;
  margin: 10px 0 20px 0;
}

.button-add {
  background-color: #FCBE02;
  transition: 0.5s;
}

@keyframes hover {
	50% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(-6px);
	}
}

@keyframes hover-shadow {
	0% {
		transform: translateY(6px);
		opacity: .4;
	}
	50% {
		transform: translateY(3px);
		opacity: 1;
	}
	100% {
		transform: translateY(6px);
		opacity: .4;
	}
}

.hover-shadow {
	display: inline-block;
	position: relative;
	transition-duration: .3s;
  transition-property: transform;
}

.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%);
  transition-duration: .3s;
  transition-property: transform opacity;
}

.hover-shadow:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hover-shadow:hover:before {
  opacity: .4;
  transform: translateY(6px);
  animation-name: hover-shadow;
  animation-duration: 1.5s;
  animation-delay: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.button-populate {
  background-color: #FCBE02;
  font-size: 12px;
  padding: 0 1em;
  transition: 0.5s;
}

.button-delete-holder {
  background-color: #FCBE02;
  color: #273043;
  padding: 0.5em;
  font-size: 14px;
  border-radius: 0 0 0 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  width: 175px;
}

.button-reset {
  background-color:#DD403A;
  color: #FAFAFA;
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding: 0.5em;
  margin: 0;
  border: 1px solid #273043;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.button-reset:hover {
  font-weight: 500;
  transition: 0.5s;
  padding: 1em;
}

.button-delete-issue {
  background-color: #FCBE02;
  color: #273043;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  top: 39px;
  right: 0;
  width: 150px;
  padding: 1px;
}

.button-delete-holder:hover, .button-delete-issue:hover {
  background-color: #DD403A;
  color: #FAFAFA;
  border: 1px solid #273043;
  font-weight: 500;
  border-radius: 5px;
}

.button-delete-holder::after {
  content: "DELETE INVESTOR";
}

.button-delete-issue::after {
  content: "DELETE ISSUE";
}

.button-reset::after {
  content: "RESET";
}

.button-delete-holder:hover::after, .button-reset:hover::after, .button-delete-issue:hover::after {
  content: "SURE?";
}

.button-add:focus, .button-populate:focus,
.button-delete-holder:focus, .button-reset:focus,
.button-delete-issue:focus {
  outline: none;
  filter: brightness(80%);
  transition: 0.5s;
}