table {
  border-collapse: collapse;
}

th {
  background:#FCBE02;
  font-weight: 400;
  color: #273043;
  height: 40px;
  overflow: hidden;
}

th:first-of-type {
  border-radius: 5px 0 0 0;
}

th:last-of-type {
  border-radius: 0 5px 0 0;
}

th, td {
  padding: 10px;
}

td {
  height: 65px;
}

.cap-table {
  width: 70vw;
  display: flex;
  justify-content: center;
  padding: 2.5em;
}

.cap-table-enter {
  transform: translateY(100%);
  transition: 1s;
  padding: 0 !important;
  opacity: 0;
}

.cap-table-enter-active {
  transform: translateY(0);
  padding: 10px !important;
  opacity: 1;
}

.cap-table-enter-done {
  border-bottom: 1px solid #FCBE02;
  font-weight: 400;
}

.cap-table-exit {
  transform: translateX(0);
  transition: 1s;
  padding: 10px !important;
  opacity: 1;
}

.cap-table-exit-active {
  transform: translateX(150%);
  padding: 0 !important;
  opacity: 0;
}

tr:nth-child(2n+1) {
  background: #0CADCF;
}

tr:nth-child(2n) {
  background: #09a0bf;
}

.table-columns td:nth-child(1), .table-columns th:nth-child(1) {
  min-width: 160px;
  font-weight: 500;
}

.table-columns td:nth-child(2), .table-columns th:nth-child(2) {
  min-width: 90px;
}

.table-columns td:nth-child(3), .table-columns th:nth-child(3) {
  min-width: 80px;
}

.table-columns td:nth-child(4), .table-columns th:nth-child(4) {
  min-width: 100px;
}

.table-columns td:nth-child(5), .table-columns th:nth-child(5) {
  min-width: 330px;
}

.count-enter {
  transition: 3s;
  opacity: 0.3;
}

.count-enter-active {
  opacity: 1;
}

.count-exit {
  transition: 3s;
  opacity: 1;
  position: absolute;
  left: -100px;
  top: 0;
}

.count-exit-active {
  opacity: 0;
}

.cap-info {
  font-family: 'Handlee', cursive;
  font-size: 18px;
  display: flex;
  position: absolute;
  top: 5em;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  right: 38%;
}

.cap-info img {
  height: 35px;
  -webkit-transform: scaleX(-1) rotate(180deg);
  transform: scaleX(-1) rotate(180deg);
}