body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FAFAFA;
  text-align: left;
}

input, select, option {
  font-family: "Raleway";
  font-size: 16px;
  background-color: transparent;
  color: #FAFAFA;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #FAFAFA;
  padding-left: 10px;
  margin-bottom: 5px;
}

input:focus, select:focus, option:focus {
  outline: none;
  border: 1px solid #FCBE02;
  box-shadow: 0px 0px 0px 1px #FCBE02; 
}

input::placeholder {
  color:rgba(250, 250, 250, 0.5);
}

input[name="postcode"] {
  width: 95px;
  margin-right: 5px;
}

input[type="date"] {
  background: transparent url(../icons/calendar.png)  97% 50% no-repeat;
  background-size: 25px;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color:rgba(250, 250, 250, 0.5);
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
  color:rgba(250, 250, 250, 0.5);
}

tr {
  height: 40px;
}

td, th {
  min-width: 170px;
  flex: 1;
}

.background {
  background-color: #0CADCF;
  min-height: 100vh;
  height: 100%;
}

.menu {
  display: flex;
}

.forms {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4%;
}

.cap-table-div {
  width: 70vw;
  display: flex;
  justify-content: flex-start;
  padding-left: 1%;
}

.form-info {
  font-style: italic;
  color:rgba(250, 250, 250, 0.8);
  margin-top: 5px;
  text-align: left;
}

.form-layout {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-bottom: 1em;
}

.sub-form {
  display:flex;
}

.button {
  cursor: pointer;
  height: 40px;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #171A21;
  color: #171A21;
  font-size: 16px;
  margin: 10px 0 20px 0;
}

.button:focus {
  outline: none;
}

.button-add {
  background-color: #FCBE02;
}

.button-reset {
  background-color: crimson;
  color: #FAFAFA;
}









@keyframes hover {
	50% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(-6px);
	}
}

@keyframes hover-shadow {
	0% {
		transform: translateY(6px);
		opacity: .4;
	}
	50% {
		transform: translateY(3px);
		opacity: 1;
	}
	100% {
		transform: translateY(6px);
		opacity: .4;
	}
}

.hover-shadow {
	display: inline-block;
	position: relative;
	transition-duration: .3s;
  transition-property: transform;
}

.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%);
  transition-duration: .3s;
  transition-property: transform opacity;
}

.hover-shadow:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.hover-shadow:hover:before {
  opacity: .4;
  transform: translateY(6px);
  animation-name: hover-shadow;
  animation-duration: 1.5s;
  animation-delay: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* Palette:
blue: #0CADCF
yellow: #FCBE02
gray: #273043
black: #171A21
white: #FAFAFA 
green: #87A330 */


/* to make App-logo spin:
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */