body {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FAFAFA;
  text-align: left;
  background-color: #0CADCF;
}

input, select, option {
  font-family: "Raleway";
  font-size: 16px;
  background-color: transparent;
  color: #FAFAFA;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #FAFAFA;
  padding-left: 10px;
  margin-bottom: 5px;
}

input:focus, select:focus, option:focus {
  outline: none;
  border: 1px solid #FCBE02;
  box-shadow: 0px 0px 0px 1px #FCBE02; 
}

input::placeholder {
  color:rgba(250, 250, 250, 0.5);
}

input[name="postcode"] {
  width: 95px;
  margin-right: 5px;
}

input[type="date"] {
  background: transparent url(../icons/calendar.png)  97% 50% no-repeat;
  background-size: 25px;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color:rgba(250, 250, 250, 0.5);
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
  color:rgba(250, 250, 250, 0.5);
}

.background {
  min-height: 100vh;
  height: 100%;
}

.menu {
  display: flex;
}

.forms {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-info {
  font-family: 'Handlee', cursive;
  color: #FAFAFA;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
  transform: skewX(-10deg);
}

.form-layout {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-bottom: 1em;
}

.sub-form {
  display:flex;
}

/* Palette:
ledgy-blue: #0CADCF
daring-yellow: #FCBE02
dark-gray: #273043
snow-white: #FAFAFA
danger-red: #FE3E23 */
