.shareholders {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  position: relative;
  margin: 3.25% 7.5%;
  padding: 3em 6em;
  border: 2px solid #FCBE02;
  border-radius: 5px;
  background: #09A0BF;
  transition: 1s;
  /* max-height: 10000px; */
}

.card--name {
  position: absolute;
  top: -50px;
  background: #FCBE02;
  border: none;
  border-radius: 5px 5px 0 0;
  color: #273043;
  text-align: center;
  padding: 5px 10px;
  font-weight: 500;
  min-width: 200px;
}

.card--name:focus {
  border: none;
  box-shadow: 0px 0px 2px 2px #273043;
}

.alter-font {
  font-family: 'Handlee', cursive;
  padding-right: 10px;
  font-size: 18px;
  transform: skewX(-10deg);
  min-width: 60px;
}

.card--email {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card--email input {
  min-width: 300px;
}

.card--email input, .card--address input, .card--address select, .shares-issue input {
  text-align: center;
  background-color: #0CADCF;
}

.card--address {
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

.card--address input {
  width: 300px;
  margin-right: 10px;
}

.card--address input[name="postcode"] {
  width: 100px;
  margin-left: 71px
}

.card--address select[name="country"] {
  width: 300px;
  height: 45px;
  text-align-last:center;
  margin-bottom: 20px;
}

.card hr {
  border: 2px solid #0CADCF;
}

.shares-issue {
  display: inline-block;
  padding-top: 1em;
  position: relative;
}

.issue-title {
  border-bottom: 2px dashed #FCBE02;
}

.issue-details input {
  margin-right: 3em;
}

.issue-details input[name="date"] {
  width: 180px;
  margin-right: 0;
}

.shareholder-enter, .issue-transition-enter {
  transition: 1s;
  opacity: 0.3;
  transform: translateY(-100%);
}

.shareholder-enter-active, .issue-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.shareholder-exit, .issue-transition-exit {
  transition: 1s;
  opacity: 1;
  transform: translateX(0);
}

.shareholder-exit-active, .issue-transition-exit-active {
  opacity: 0;
  transform: translateX(200%);
}